<h1><%= @user.name %></h1>
<% unless @user.created_events.empty? %>
  <h3>Events Created:</h3>
  <%= render @user.created_events %>
<% end %>
<h3>Upcoming Events:</h2>
<% if @upcoming_events.empty? %>
  <p>None...</p>
<% else %>
  <%= render @upcoming_events %>
<% end %>
<h3>Previous Events:</h2>
<% if @previous_events.empty? %>
  <p>None...</p>
<% else %>
  <%= render @previous_events %>
<% end %>
